<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    <%= render partial: "lineitem", collection: @order.line_items %>
    <h1>Total $<%= @order.total_cents/100 %></h1>
    <h1>Email: <%= current_user.email %></h1>

  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
